# Apriori Algorithm

Has it ever happened that you’re out to buy something, and you end up buying a lot more than you planned? It’s a Phenomenon known as Impulsive Buying and Big Retailers take advantage of Machine Learning and Apriori Algorithm and make sure that we tend to buy more. So let’s understand how the Apriori algorithm works in the following order:

1.Market Basket Analysis

2.Association Rule Mining

3.Apriori Algorithm

4.Apriori Algorithm Implementation in Python

Market Basket Analysis
In today’s world, the goal of any organization is to increase revenue. Can this be done by pitching just one product at a time to the customer? The answer is a clear no. Hence, organizations began mining data related to frequently bought items.


Market Basket Analysis is one of the key techniques used by large retailers to uncover associations between items. They try to find out associations between different items and products that can be sold together, which gives assisting in right product placement. Typically, it figures out what products are being bought together and organizations can place products in a similar manner.

In [36]:
# Import Required Libraries
import pandas as pd
import numpy as np
from apyori import apriori

In [ ]:
# Import Required Libraries
import pandas as pd
import numpy as np
from apyori import apriori

In [3]:
#Load dataset
x = pd.read_csv('D://Sql/30th july/Apriory_Algorithm.csv')

In [4]:
x

    Wine  Chips  Bread  Butter  Milk  Apple
0   Wine    NaN  Bread  Butter  Milk    NaN
1    NaN    NaN  Bread  Butter  Milk    NaN
2    NaN  Chips    NaN     NaN   NaN  Apple
3   Wine  Chips  Bread  Butter  Milk  Apple
4   Wine  Chips    NaN     NaN  Milk    NaN
5   Wine  Chips  Bread  Butter   NaN  Apple
6   Wine  Chips    NaN     NaN  Milk    NaN
7   Wine    NaN  Bread     NaN   NaN  Apple
8   Wine    NaN  Bread  Butter  Milk    NaN
9    NaN  Chips  Bread  Butter   NaN  Apple
10  Wine    NaN    NaN  Butter  Milk  Apple
11  Wine  Chips  Bread  Butter  Milk    NaN
12  Wine    NaN  Bread     NaN  Milk  Apple
13  Wine    NaN  Bread  Butter  Milk  Apple
14  Wine  Chips  Bread  Butter  Milk  Apple
15   NaN  Chips  Bread  Butter  Milk  Apple
16   NaN  Chips    NaN  Butter  Milk  Apple
17  Wine  Chips  Bread  Butter  Milk  Apple
18  Wine    NaN  Bread  Butter  Milk  Apple
19  Wine  Chips  Bread     NaN  Milk  Apple
20   NaN  Chips    NaN     NaN   NaN    NaN

In [5]:
#No. of rows and Columns contain in our dataset
x.shape

(21, 6)

In [33]:
#Convert Pandas Dataframe into a list of lists
records=[]
for i in range(0,21):
    records.append([str(x.values[i,j]) for j in range(0,6)])

In [6]:
records

[['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'Chips', 'nan', 'nan', 'nan', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'],
 ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'nan', 'nan', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'],
 ['Wine', 'nan', 'nan', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'nan', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'nan', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'nan', 'nan', 'nan']]

In [7]:
#Apriori Model
association_rule =apriori(records,min_support=0.50,min_confidence=0.70,min_lift=1.2,min_length=2)
association_results = list(association_rule)

In [8]:
print(len(association_results))
print(association_results)

1
[RelationRecord(items=frozenset({'Bread', 'Butter'}), support=0.5714285714285714, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Butter'}), confidence=0.7999999999999999, lift=1.2), OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Bread'}), confidence=0.8571428571428571, lift=1.2)])]